* {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h1, h2 {
    color: black;
    margin-top: 0;
    height: 40px;
}

#containerGroup {
    display: flex;
}

#containerLeft {
    background-color: black;
    width: 25%;
}

#containerMid {
    background-color: black;
    width: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#containerRight {
    width: 25%;
    background: black;
    justify-content: center;
}

#containerRightRight {
    width: 20%;
    background: black;
    justify-content: center;
}

#playFieldContainer {
    height: 90%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.field {
    margin: 0px;
    width: 10%;
    height: 100%;
    border: 1px grey solid;
}

.row {
    justify-content: center;
    display: flex;
    height: 4.8%;
    width: 100%;
}

.middleWindow {
    position: absolute;
    z-index: 1;
    background: black;

    width: 330px;
    height: 220px;

    text-align: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 30.6%;
    right: 69.4%;
    margin: auto;

    border: grey 6px solid;
}

h1.gameOver {
    margin-top: 6%;
}

.gameOver {
    color: white;
}

#scoreDisplay {
    position: absolute;
    font: bold 50px Arial;
    color: white;

    width: 500px;
    height: 160px;

    text-align: left;
    top: 1%;
    left: 32.7%;
    right: 67.3%;
    margin: auto;
}

.queueTileElement {
    margin-top: 20px;
    height: 15%;
    width: 30%;
    border: grey 5px solid;
}

.header{
    height: 5%;
    width: 100%;
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.queueField {
    width: 25%;
    height: 100%;
    background-color: black;
    border: 1px grey solid;
}

.queueRow {
    justify-content: center;
    display: flex;
    height: 25%;
    width: 100%;
}

.queueFieldFirst {
    width: 25%;
    height: 100%;
    background-color: black;
    border: 1px grey solid;
}

.queueRowFirst {
    justify-content: center;
    display: flex;
    height: 25%;
    width: 100%;
}


.queueTileElement:has(div.queueRowFirst) {
    height: 23%;
    width: 45%;
    margin-bottom: 0;
}

.title{
    margin-top: 2%;
    margin-bottom: 12%;
    color: white;
    font-size: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.holdField {
    width: 25%;
    height: 100%;
    background-color: black;
    border: 1px grey solid;
}

.holdRow {
    justify-content: center;
    display: flex;
    height: 25%;
    width: 100%;
}

#holdContainer{
    margin-top: 20px;
    height: 24%;
    width: 45%;
    border: grey 5px solid;
}

#leaderBoardContainer{
    height: 95%;
    text-align: center;
    justify-content: center;
}

.leaderBoardEntry{
    font-size: 20px;
    color: white;
    margin: auto;
    border: grey 5px solid;
}

#timeDisplayContainer{
    margin-top: 20%;
    height: 10%;
    width: 100%;
    text-align: center;
}

#timeText{
    font-size: 50px;
    color: white;
}

#leaderBoardNameInput{
    font-size: 20px;
    height: 15%;
    width: 80%;
    text-align: center;
}

#sendScoreButton{
    margin-top: 5%;
    height: 20%;
    width: 40%;
    background-color: black;
    color: white;
    font-size: 24px;
    border: grey 2px solid;
}

label{
    height: 2px;
    color: lightgray;
}

.middleWindowTitle{
    color: white;
    margin-top: 2%;
    height: 20%;
}

.middleWindowSubTitle{
    color: white;
    height: 10%;
    margin-top: 10px;
}

#linesLeftToBeCleared{
    margin-top: 10%;
    height: 10%;
    width: 100%;
    text-align: center;
}

#linesLeftText{
    font-size: 56px;
    color: white;
}

.controlsContainer{
    margin-top: 25%;
    font-size: 22px;
    display: flex;
    color: white;
    width: 90%;
    height: 20%;
}

.controlsContainerLeft{
    width: 45%;
    text-align: right;
}

.controlsContainerRight{
    width: 45%;
    text-align: left;
}